<h1>Welcome to the Registrar's Office</h1>

<%= flash[:alert] %>

<p><%=  link_to "Sign Up", signup_path %>  
 or 
<%=  link_to "Log In", login_path %> if you already have an account.</p>
<br/><br/>
<%= button_to "Log in with Google", '/auth/google_oauth2' %>
