<h1>Subject Area Index</h1>

 <%= flash[:notice] %>
 
<p>Click a subject to see course listings.</p>
<ul>
<% @subjects.each do |s| %>
    <li><%= link_to "#{s.name}", subject_courses_path(s) %></li>
<% end %>
</ul>